<div id="<%= dom_id coin %>">
  <p>
    <strong>Descrição:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Acrônimo:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <img src="<%= coin.url_image %>" alt="">
  </p>

</div>
